footer p {
    color: rgb(199, 68, 122);
    font-size: 28px;
    font-family:'Courier New', Courier, monospace;
    font-weight: 500;
    font-style: italic;
}
footer p a {
    color: rgb(199, 68, 122);
    text-decoration: none;
    font-size: 28px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* font-weight: 500; */
    font-style: italic;
}